{% extends "base.html" %}
{% block title %}Cadastrar Aparelho{% endblock %}
{% block content %}
<div class="container">
  <div class="mb-3 text-center text-black-50">
    <h1>Cadastrar Aparelhos</h1>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-8 mx-auto">
        <div class="form-floating mb-3">
          <select class="form-select" name="{{ form.user.name }}" id="{{ form.user.id_for_label }}">
            {% for value, label in form.fields.user.choices %}
            <option value="{{ value }}"> {{ label }}</option>
            {% endfor %}
          </select>
          <label for="{{ form.user.name }}">Dono do aparelho</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" name="name" placeholder="">
          <label for="name">Nome do aparelho</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="capacity" name="capacity" placeholder="">
          <label for="capacity">Capacidade do reservatório/recipiente</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="place" name="place" placeholder="">
          <label for="place">Localização do aparelho</label>
        </div>
      </div>
    </div>

    <div class="row col-8 mx-auto">
      <button class="btn btn-success" type="submit">Adicionar</button>
    </div>

  </form>
</div>
{% endblock content %}
