{% extends 'base.html' %}
{% block title %}Meus Aparelhos{% endblock %}
{% block content %}
<div class="container">
  <div class="mb-3 text-center text-black-50">
    <h1>Meus Aparelhos</h1>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Capacidade</th>
          <th scope="col">Localização</th>
          <th scope="col">Ativo ?</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ device.name }}</td>
          <td>{{ device.capacity }}</td>
          <td>{{ device.place }}</td>
          <td>
            {% if device.is_active %}
            <div class="text-success" data-bs-toggle="tooltip" data-bs-placement="left" title="Desativado">
              <ion-icon name="thumbs-up-outline"></ion-icon>
            </div>
            {% else %}
            <div class="text-danger" data-bs-toggle="tooltip" data-bs-placement="left" title="Desativado">
              <ion-icon name="thumbs-down-outline"></ion-icon>
            </div>
            {% endif %}
          </td>
          <td>
            <a class"btn" href="{% url 'devices:device-update' device.pk %}" data-bs-toggle="tooltip"
              data-bs-placement="top" title="Editar" style="text-decoration:none">
              <ion-icon name="create-outline" class="text-dark"></ion-icon>
            </a>
            <a class"btn" href="{% url 'devices:measures-list' device.pk %}" data-bs-toggle="tooltip"
              data-bs-placement="top" title="Consultar" style="text-decoration:none">
              <ion-icon name="search-circle-outline" class="text-dark"></ion-icon>
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>No Devices yet.</tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}