{% extends 'base.html' %}
{% block title %}Meus Aparelhos{% endblock %}
{% block content %}
<div class="container">
  <div class="mb-3 text-center text-black-50">
    <h1>Meus Aparelhos</h1>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Capacidade</th>
          <th scope="col">Localização</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ device.name }}</td>
            <td>{{ device.capacity }}</td>
            <td>{{ device.place }}</td>
            <td>
              <a class"btn"
                 href="{% url 'devices:device-update' device.pk %}" 
                data-bs-toggle="tooltip" 
                data-bs-placement="top" 
                title="Editar"><ion-icon name="create-outline"></ion-icon></a>
              <a class"btn"
                href="" 
                data-bs-toggle="tooltip" 
                data-bs-placement="top" 
                title="Consultar"><ion-icon name="search-circle-outline"></ion-icon></a>
            </td>
          </tr>
        {% empty %}
          <tr>No Devices yet.</tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
