{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Cadastrar Aparelho{% endblock %}
{% block content %}
<div class="container">
  <div class="mb-3 text-center text-black-50">
    <h1>Cadastrar Aparelhos</h1>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-8 mx-auto">
        <div class="mb-3">
          <label for="user-input" class="form-label">Nome do Proprietário</label>
          <input
            class="form-control" 
            type="text" 
            placeholder="{{ device.user }}" 
            aria-label="{{ device.user }}" 
            disabled
          >
        </div>
        {{ form|crispy }}
      </div>
    <div class="row col-8 mx-auto">
      <button class="btn btn-success" type="submit">Salvar</button>
    </div>

  </form>
</div>
{% endblock content %}
