{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Cadastrar Aparelho{% endblock %}
{% block content %}
<div class="">
  <div class="mb-3 text-center text-black-50">
    <h1>Cadastrar Aparelhos</h1>
  </div>

  <div class="row g-5 mx-auto">
    <div class="col col-7 mx-auto border-end">

      <div class="row mb-5">
        <label for="user-input" class="form-label col-3 col-form-label">Nome do Proprietário</label>
        <div class="col-9">
          <input class="form-control-plaintext" type="text" placeholder="{{ device.user }}"
            aria-label="{{ device.user }}" disabled>
        </div>
      </div>

      <div class="row mb-3">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-success col-12" type="submit">Salvar</button>
        </form>
      </div>

    </div>

    <div class="col col-5">
      <div class="row mb-5"></div>
      <row class="mb-3">
        {% include 'partials/map.html' %}
      </row>
    </div>
  </div>

</div>
{% endblock content %}