{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'pages:home' %}">
      <img src="{% static 'img/favicon/favicon-32x32.png' %}" alt="Easier Ph" class="d-inline-block align-text-bottow">
      Easier Ph
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        {% if not user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page"
            href="{% url 'pages:home' %}">
            Página inicial
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/devices/list/' %}active{% endif %}"
            href="{% url 'devices:device-list' %}" tabindex="-1" aria-disabled="true">Meus aparelhos</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/about' %}active{% endif %}" href="{% url 'pages:about' %}">Sobre
            Easier Ph</a>
        </li>
      </ul>
      <div class="d-flex">
        {% if user.is_anonymous %}
        <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login</a>
        {% else %}
        <div class="" role="">
          <span><span class="text-black-50">Olá</span> {{ user.get_full_name }} &nbsp;&nbsp;</span>
        </div>
        <a href="{% url 'logout' %}" class="btn btn-secondary btn-sm">Logout</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>